{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro CiemMedicJad</title>
    
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

    
    
</head>
<body class="flex items-center justify-center h-screen" style=" background: white">
    <div class="bg-black p-8 rounded-lg shadow-lg w-96">
        <h2 class="text-white text-2xl font-bold mb-6 text-center">Registro <spam style="color:rgb(255, 255, 255);">Ciem</spam><spam style="color: rgb(58, 122, 186);">Medic Jad</spam></h2>
        <form id="registrationForm" method="POST" class="space-y-4">
            <div>
                {% csrf_token %}
                <label for="username" class="block text-sm font-medium text-yellow-100">Nombre</label>
                <input type="text" name="username" id="username" placeholder="nombre" required class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            </div>

            <div>
                {% csrf_token %}
                <label for="apellido" class="block text-sm font-medium text-yellow-100">Apellido</label>
                <input type="text" name="apellido" id="apellido" placeholder="apellido" required class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            </div>
            <div>
                {% csrf_token %}
                <label for="email" class="block text-sm font-medium text-yellow-100">Correo electrónico</label>
                <input type="email" name="email" id="email" placeholder="example@mail.com" required class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            </div>

            <div>
                {% csrf_token %}
                <label for="telefono" class="block text-sm font-medium text-yellow-100">Telefono</label>
                <input type="text" name="telefono" id="telefono"  placeholder="fono" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            </div>
            <div>
                {% csrf_token %}
                <label for="password" class="block text-sm font-medium text-yellow-100">Contraseña</label>
                <input type="password" name="password" id="password" placeholder="contraseña" required class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            </div>
            <div>
                {% csrf_token %}
                <label for="confirmPassword" class="block text-sm font-medium text-yellow-100">Confirmar Contraseña</label>
                <input type="password" id="confirmPassword" placeholder="confirmar contraseña" required class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            </div>
            <input type="hidden" name="seed" id="seed">
            <div>
                <button type="button" onclick="submitForm()" class="w-full  text-white py-2 px-4 rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" style="background-color: rgb(40, 53, 83);">Registrarse</button>
            </div>
        </form>
    </div>
    <!-- Ventana emergente -->
    <div id="seedModal" class="modal hidden">
        <div class="modal-content">
            <h2 class="text-xl font-bold mb-4">¡Registro Exitoso!</h2>
            <p>Esta es tu semilla generada:</p>
            <p id="generatedSeed" class="bg-gray-200 p-2 rounded mt-2 mb-4"></p>
            <button id="copySeedButton" class="bg-indigo-600 text-white py-2 px-4 rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Copiar Semilla</button>
        </div>
    </div>

<script>
   
    function submitForm() {
        const formData = {
            nombre: document.getElementById('nombre').value,
            apellido: document.getElementById('apellido').value,
            email: document.getElementById('email').value,
            telefono: document.getElementById('telefono').value,
            password: document.getElementById('password').value
        };
            // Perform any necessary form validation here

            // Submit the form data using AJAX or fetch
            fetch('/api/usuarios/registro', {
                method: 'POST',
                body: new FormData(registrationForm),
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert('Usuario registrado exitosamente');
                    window.location.href = '/loginv'; // Redirect to the login page
                } else {
                    alert('Error al registrar usuario: ' + data.error);
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }
</script>
    
    
    
</body>
</html>
